/javase/localization/get-available-locales/target/
/javase/localization/language-tags-their-filtering-and-lookup/target/
/javaee/web-services/jax-rs/jax-rs-annotations/jax-rs-query-param-annotation/target/
/javase/localization/resource-bundle/target/
/javase/localization/number-formatting/target/
/javaee/web-services/jax-rs/jax-rs-extract-parameters-from-requests/target/
/javase/localization/currency-converter/target/
/javase/cli-portal/target/
/javase/office-desktop/target/
/javase/office-desktop/office-desktop-task-tracker/target/
/javase/office-desktop/office-desktop-javafx-ui/target/
/javase/jaas/target/