/javase/localization/get-available-locales/target/
/javase/localization/language-tags-their-filtering-and-lookup/target/
/javaee/web-services/jax-rs/jax-rs-annotations/jax-rs-query-param-annotation/target/
/javase/localization/resource-bundle/target/